
  #accordionSidebar {
   
    background-color: rgb(240, 242, 243) !important;
   
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
   /* border: 1px solid #292c49; /* Add a border to the right side */
  }
  
.sidebar-dark .nav-item .nav-link {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 24px;
  color: #000000;
  text-decoration: none;
  padding: 10px 20px;
  height: 100%;
}
.fa-regular fa-credit-card:hover{
  color: #ffffff !important;
}

.sidebar-dark .nav-item .nav-link:hover,
.sidebar-dark .nav-item .nav-link:focus,
.sidebar-dark .nav-item .nav-link.active {
  background-color: #cbe4e9 !important;
  color:rgb(137, 137, 137);
}

.sidebar-nav {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
}

.sidebar-nav-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0.5rem 1rem;
}

.sidebar-nav-item .fa-solid {
  margin-right: 0.5rem;
}

.sidebar-nav-item .mystyle {
  margin-left: 0.5rem;
  font-size: 14px;
}

.sidebar-divider {
  margin: 0.5rem 0;
}





.fa-solid.fa-wallet:hover {
  color: #ffffff;
}


body{
  background-color: #eee;
}
nav{
  margin: 20px;
  position: relative;
}
ul{
  list-style: none;
  display: flex;
  align-items: center;
}
.display-picture{
  margin-left: auto;
}
.display-picture img{
  width: 50px;
  border-radius: 50%;
  border:2px solid #fff;
}
.display-picture img:hover{
border:2px solid #E78341;
}
.card{
  transition: 0.5s ease;
}

.card ul{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background: whitesmoke;
  position: absolute;
  top: -16px;
  right:0rem;
border-radius: 10px;
padding: 10px 50px 10px 20px;
}
.card ul li{
 
  padding: 5px 0;
  color: rgb(255, 255, 255);
  font-size: 14px;
}
.hidden{
  display: none;
}
a{
  text-decoration: none;
  color:black;
}

nav {
  background-color: #23899D;
  padding: 10px;
  align-items: center;
  justify-content: space-between;
  margin-top: 0px;
  margin-left: 0px;
  margin-right:0px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  height: 150px;
}


h2 {
  text-align: center;
  font-weight: bold;
  color:#ffffff;
}

a.navMenu {
  display: inline-block;
  padding: 8px 18px; /* Adjust the padding to make the button smaller */
  background-color: #E6E5EC;
  color: #000000;
  text-decoration: none;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 16px; /* Adjust the font size to make the button text smaller */
}

a.navMenu:hover {
  background-color: #9f9bb6;
}




