<!-- DataTales Example -->
<div class="card mb-4">
  <div class="card-header py-3">
    <h3 class="m-0 font-weight-bold">Liste Compteurs</h3>
  </div>
  <div class="card-body">
    <div style="display: flex; margin-bottom: 10px">
      <button
        style="margin-left: auto"
        (click)="addNewCompteur(content)"
        class="btn btn-success"
      >
        <i class="fa-solid fa-plus"></i>
      </button>
    </div>
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" cellspacing="0">
        <thead>
          <tr>
            <th style="width: 30%; text-align: center">Libelle</th>

            <th style="width: 30%; text-align: center">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let compteur of compteurs | async">
            <td style="text-align: center">{{ compteur.libelle }}</td>
            <td style="text-align: center">
              <button
                (click)="updateCompteur(compteur.id, contentUpdate)"
                class="btn btn-info"
                style="margin-left: 10px; margin-right: 10px"
              >
                <i class="fa fa-pencil"> </i>
              </button>
              <button
                (click)="deleteCompteur(compteur.id, contentDelete)"
                class="btn btn-danger"
              >
                <i class="fa-solid fa-trash"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <ng-template #content let-modal>
    <span
      class="fa-stack fa-1x"
      (click)="modal.dismiss('cancel click')"
      style="
        position: absolute;
        top: -25px;
        right: -14px;
        padding: 10px;
        z-index: 1111;
        cursor: pointer;
      "
    >
      <i
        class="fa fa-circle fa-stack-2x"
        style="
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-color: #d5e77f;
        "
      >
      </i>
      <i
        class="fa fa-times fa-stack-1x"
        style="color: rgb(255, 255, 255); font-size: 19px"
      ></i>
    </span>

    <div class="modal-header">
      <h4 class="m-0 font-weight-bold">Ajout Compteur</h4>
    </div>
    <div class="modal-body">
      <form [formGroup]="form_Add_Compteur" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="name">Libelle</label>

          <input
            type="text"
            class="form-control"
            id="libelle"
            placeholder="c-xxxxx"
            formControlName="libelle"
            [(ngModel)]="compteur.libelle"
            name="libelle"
            [ngClass]="{ 'is-invalid': submitted && libelle.errors }"
          />
          <div *ngIf="submitted && libelle.errors" class="invalid-feedback">
            <div *ngIf="libelle.errors.required">* Libelle est obligatoire</div>
            <div *ngIf="libelle.errors.pattern">
              * Format invalide (c-xxxxx)
            </div>
          </div>
        </div>

        <button type="submit" class="btn btn-success">Ajouter</button>
      </form>
    </div>
  </ng-template>

  <ng-template #contentUpdate let-modal>
    <span
      class="fa-stack fa-1x"
      (click)="modal.dismiss('cancel click')"
      style="
        position: absolute;
        top: -25px;
        right: -14px;
        padding: 10px;
        z-index: 1111;
        cursor: pointer;
      "
    >
      <i
        class="fa fa-circle fa-stack-2x"
        style="
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-color: #d5e77f;
        "
      >
      </i>
      <i
        class="fa fa-times fa-stack-1x"
        style="color: rgb(255, 255, 255); font-size: 19px"
      ></i>
    </span>

    <div class="modal-header">
      <h4 class="m-0 font-weight-bold">Modifier compteur</h4>
    </div>

    <div class="modal-body">
      <form [formGroup]="form_Update_Compteur" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="name">Libelle</label>
          <input
            type="text"
            class="form-control"
            id="libelle"
            placeholder="c-xxxxx"
            formControlName="libelleU"
            [(ngModel)]="compteur.libelle"
            name="libelle"
            [ngClass]="{ 'is-invalid': submitted && libelleU.errors }"
            minlength="3"
          />
          <div *ngIf="submitted && libelleU.errors" class="invalid-feedback">
            <div *ngIf="libelleU.errors.required">
              * Libelle est obligatoire
            </div>
            <div *ngIf="libelleU.errors.pattern">
              * Format invalide (c-xxxxx)
            </div>
          </div>
        </div>

        <button type="submit" class="btn btn-success">Modifier</button>
      </form>
    </div>
  </ng-template>

  <ng-template #contentDelete let-modal>
    <span
      class="fa-stack fa-1x"
      (click)="modal.dismiss('cancel click')"
      style="
        position: absolute;
        top: -25px;
        right: -14px;
        padding: 10px;
        z-index: 1111;
        cursor: pointer;
      "
    >
      <i
        class="fa fa-circle fa-stack-2x"
        style="
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-color: #d5e77f;
        "
      >
      </i>
      <i
        class="fa fa-times fa-stack-1x"
        style="color: rgb(255, 255, 255); font-size: 19px"
      ></i>
    </span>

    <div class="modal-body">
      <p class="modal-title">
        Êtes-vous sur de vouloir supprimer ce compteur ?
      </p>
    </div>

    <div class="modal-footer">
      <button
        type="button"
        (click)="confirmDeleteCompteur()"
        class="btn btn-danger"
      >
        Supprimer
      </button>
      <button
        type="button"
        (click)="cancelDeleteCompteur()"
        class="btn btn-info"
      >
        Annuler
      </button>
    </div>
  </ng-template>
</div>
