<!-- DataTales Example -->
<div class="card mb-4">
  <div class="card-header py-3">
    <h3 class="m-0 font-weight-bold">Votre Tokens</h3>
  </div>
  <div class="card-body">
    <div style="display: flex; margin-bottom: 10px">
      <button
        style="margin-left: auto"
        (click)="addNewToken(content)"
        class="btn btn-success"
      >
        <i class="fa-solid fa-plus"></i>
      </button>
    </div>
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" cellspacing="0">
        <thead>
          <tr>
            <th style="width: 20%; text-align: center">Compteur</th>

            <th style="width: 20%; text-align: center">Libelle</th>

            <th style="width: 20%; text-align: center">Prix</th>
            <th style="width: 20%; text-align: center">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let token of tokens | async">
            <td style="text-align: center">{{ token.compteur.libelle }}</td>
            <td style="text-align: center">{{ token.typetoken.nom }}</td>
            <td style="text-align: center">{{ token.typetoken.prix }}</td>
            <td style="text-align: center">
              <button
                (click)="updateToken(token.id, contentUpdate)"
                class="btn btn-info"
                style="margin-left: 10px; margin-right: 10px"
              >
                <i class="fa fa-pencil"> </i>
              </button>
              <button
                (click)="deleteToken(token.id, contentDelete)"
                class="btn btn-danger"
              >
                <i class="fa-solid fa-trash"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <ng-template #content let-modal>
    <span
      class="fa-stack fa-1x"
      (click)="modal.dismiss('cancel click')"
      style="
        position: absolute;
        top: -25px;
        right: -14px;
        padding: 10px;
        z-index: 1111;
        cursor: pointer;
      "
    >
      <i
        class="fa fa-circle fa-stack-2x"
        style="
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-color: #d5e77f;
        "
      >
      </i>
      <i
        class="fa fa-times fa-stack-1x"
        style="color: rgb(255, 255, 255); font-size: 19px"
      ></i>
    </span>

    <div class="modal-header">
      <h4 class="m-0 font-weight-bold">Ajout Token</h4>
    </div>
    <div class="modal-body">
      <form (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="name"> Compteur</label>
          <br />
          <select name="compteur" [(ngModel)]="token.compteur">
            <option
              *ngFor="let compteur of compteurs | async"
              [ngValue]="compteur"
            >
              {{ compteur.libelle }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label for="name">Type Token</label>
          <br />
          <select name="typetoken" [(ngModel)]="token.typetoken">
            <option
              *ngFor="let typetoken of typetokens | async"
              [ngValue]="typetoken"
            >
              {{ typetoken.prix }}
            </option>
          </select>
        </div>

        <button type="submit" class="btn btn-success">Ajouter</button>
      </form>
    </div>
  </ng-template>

  <ng-template #contentUpdate let-modal>
    <span
      class="fa-stack fa-1x"
      (click)="modal.dismiss('cancel click')"
      style="
        position: absolute;
        top: -25px;
        right: -14px;
        padding: 10px;
        z-index: 1111;
        cursor: pointer;
      "
    >
      <i
        class="fa fa-circle fa-stack-2x"
        style="
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-color: #d5e77f;
        "
      >
      </i>
      <i
        class="fa fa-times fa-stack-1x"
        style="color: rgb(255, 255, 255); font-size: 19px"
      ></i>
    </span>

    <div class="modal-header">
      <h4 class="m-0 font-weight-bold">Modifier Token</h4>
    </div>
    <div class="modal-body">
      <form (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="name"> Compteur</label>
          <br />
          <select name="compteur" [(ngModel)]="token.compteur.id">
            <option
              *ngFor="let compteur of compteurs | async"
              [value]="compteur.id"
            >
              {{ compteur.libelle }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label for="name">Type Token</label>
          <br />
          <select name="typetoken" [(ngModel)]="token.typetoken.id">
            <option
              *ngFor="let typetoken of typetokens | async"
              [value]="typetoken.id"
            >
              {{ typetoken.prix }}
            </option>
          </select>
        </div>

        <button type="submit" class="btn btn-success">Modifier</button>
      </form>
    </div>
  </ng-template>

  <ng-template #contentDelete let-modal>
    <span
      class="fa-stack fa-1x"
      (click)="modal.dismiss('cancel click')"
      style="
        position: absolute;
        top: -25px;
        right: -14px;
        padding: 10px;
        z-index: 1111;
        cursor: pointer;
      "
    >
      <i
        class="fa fa-circle fa-stack-2x"
        style="
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-color: #d5e77f;
        "
      >
      </i>
      <i
        class="fa fa-times fa-stack-1x"
        style="color: rgb(255, 255, 255); font-size: 19px"
      ></i>
    </span>

    <div class="modal-body">
      <p class="modal-title">Êtes-vous sur de vouloir supprimer ce token ?</p>
    </div>

    <div class="modal-footer">
      <button
        type="button"
        (click)="confirmDeleteToken()"
        class="btn btn-danger"
      >
        Supprimer
      </button>
      <button type="button" (click)="cancelDeleteToken()" class="btn btn-info">
        Annuler
      </button>
    </div>
  </ng-template>
</div>
